.formWrapper {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 50px;
}

.contactMe {
    border: 2px solid $accent-color;
    margin-top: 100px;
    
     .formInnerWrapper {
            margin: 0 auto;
            width: 80%;
        }
        
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: block;
        margin: 0 auto;

       
        .formFlex {
            display: flex;
            justify-content: space-around;
        }

        .formFlex input {
            width: calc(50% - 10px);
            height: 50px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 2px solid $secondary-color;
            font-size: 2rem;
        }

        .formFlex input[type=text] {
            margin-right: 20px;
        }

        .formFlex Input:focus {
            border-bottom: 2px solid $accent-color;
        }

        .textArea {

            textArea {
                display: block;
                margin:  0 auto;
                width: 100%;
                border: 2px solid $secondary-color;
                font-size: 1.8rem;
                padding: 10px;
            }

            textArea:focus {
                border: 2px solid $accent-color;
            }
        }

        .formSubmit {
            display: flex;
            justify-content: center;
            margin: 10px auto;

            input {
                font-size: 2rem;
                color: $accent-color;
                padding: 5px 30px;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                border: 2px solid $secondary-color;
                margin-right: 20px;
                background: none;
            }

            input:hover,
            input:focus {
            color: white;
            background-color: $accent-color;
            border: 2px solid $accent-color;
            cursor: pointer;
        }
        }
    }

    .emailDirect  {
    padding: 20px 0;
    text-align: center;
    font-size: 1.8rem;

    a {
        color: $accent-color;
        text-decoration: underline;
    }
}

}