footer {
    margin: 0 auto;

    p {
        text-align: center;
        font-size: 2rem;
    }

    .footerSocialIcons ul {
        display: flex;
        justify-content: center;
        font-size: 4rem;

        li {
            padding: 20px;
        }

        li a {
            color: $secondary-color;
            transition: 0.5s;
        }

        li a:hover,
        li a:focus {
            color: $accent-color;
        }
    }

}
