
body,
h1,
h2,
h3,
h4,
p,
ul,
div,
section,
img,
header,
footer,
aside {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $body-font, sans-serif;
}


.wrapper {
    margin: 0 auto;
    max-width: 1350px;
    width: 85%;
}

.uppercase {
    text-transform: uppercase;
}

.anim,
.scrollLeft,
.scrollRight {
    opacity: 0;
}

h2 {
        font-family: $heading-font;
        font-size: 5.5rem;
        text-align: center;
        margin-bottom: 50px;
        text-shadow: -3px -3px 0px $accent-color;  
        text-transform: uppercase;
    }

@media (max-width: 480px) {
    .wrapper {
        width: 100%;
    }
}