header {

    nav {
        background-color: white;
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 1;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 0 10px 0;                  
        }

        a {
            font-size: 3rem;
            font-family: $heading-font;
            text-transform: uppercase;
            transition: 0.3s ease-in-out;
        }

        a:hover,
        a:focus {
            color: $accent-color;
            text-shadow: 2px 2px 0px black;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                padding-left: 30px;
            }
    
            li a {
                font-size: 2.5rem; 
                text-transform: uppercase;
                transition: 0.3s ease-in-out;
            }

            li a:hover,
            li a:focus  {
                padding-bottom: 10px;
                color: $accent-color;
            }
        }
    }

    .navBar {
        transition: 0.3s ease-in-out; 
    }
    
    // $('.fa-bars').css('display', 'none');
    // $('.fa-times').css('display', 'flex);

    
    h1 {
        font-size: 8rem;
        padding-top: 10%;
    }

    h2 {
         opacity: 0.7;
        text-shadow: none;
    }

    h1,
    h2 {
        text-align: center;
        color: black;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        line-height: 1.25;
        padding-left: 10px;
        font-weight: lighter;
        font-family: $heading-font;
        transition: 3s ease-in;
        animation: fadein 4s;
        -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 4s; /* Firefox < 16 */
            -ms-animation: fadein 4s; /* Internet Explorer */
            -o-animation: fadein 4s; /* Opera < 12.1 */

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    }

    .headerText {
        background-image: url('https://i.imgur.com/gsEnpGn.jpg');  
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 50px;
        animation: fadein 4s;
        position: relative;

        @keyframes fadein {
            from {opacity: 0;}
            top {opacity: 1};
        }
    };

    .fa-chevron-down {
        position: absolute;
        bottom: 10%;
    }

    .sidebarLinks {
        width: 7.5%;
        font-size: 3rem;
        position: fixed;
        right: -10px;
        bottom: 40%;

        li i {
            font-size: 2rem;
            padding: 5px;
            margin-bottom: 10px;
            color: $secondary-color;
        }

        li i:hover,
        li i:focus {
            color: $accent-color;
        }
    }
}


.fa-bars,
.fa-times {
    font-size: 3rem;
    transition: 0.3s ease-in-out;
    color: $secondary-color;
}

.fa-bars:hover,
.fa-bars:focus,
.fa-times:hover,
.fa-times:focus {
    color: $accent-color;
}

.fa-times {
    display: none;
}

.menu-btn {
    display: none;
    position: fixed;
    top: 5px;
    right: 0;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    transform: all 0.3s ease-in-out;
    z-index: 2;  
}

@media (max-width: 1055px) {
    header {

        h1 {
            font-size: 6rem;
        }

        h2 {
            font-size: 4rem;
        }
    }  
}

@media (max-width: 768px) {

    header {

        .headerText {
            background-image: url('./../assets/header-image-gradiant.jpg');  
        }

        .menu-btn {
            display: flex;
        }
    
        .navBar {
            position: absolute;
            top: 50px;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            // align-items: center;
            font-size: 4rem;
            height: 50vh;
            width: 85vw;
            background-color: $secondary-color;         
            
            &.open {
                display: flex;
            }
        }

        nav ul li {
            padding-left: 0;

            a {
                font-size: 3rem;
                // display: block;
            }
        }

        .sidebarLinks {
            display: none;
        }

        h2 {
            padding-bottom: 50px;
        }

        .menu-btn {
            right: 7.5%;
        }   
    }
}

@media (max-width: 480px) {

    header {
        h1 {
            padding-top: 10%;
            padding-bottom: 10%;
            font-size: 4rem;
        }

        h2 {
            font-size: 2.8rem;
        }
    }
}