header {
    height: 100%;
    nav {
        background-color: white;
        position: fixed;
        width: 100%;
        z-index: 1;
        
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        a {
            font-size: 2.1rem;
            font-family: $heading-font;
            text-transform: uppercase;
            transition: 0.3s ease-in-out; 
            outline: none;   
            padding: 12px 0;
        }

        a:hover,
        a:focus {
            color: $accent-color;
            text-shadow: 2px 2px 0px black;
        }

        ul {
            display: flex;
            align-items: center;
            

            li {
                padding-left: 30px;
            }
    
            li a {
                font-size: 1.9rem; 
                text-transform: uppercase;
                transition: 0.3s ease-in-out;
                letter-spacing: 1.5px;
            }

            li a:hover,
            li a:focus  {
                color: $accent-color;
            }
        }
    }

    .navBar {
        transition: 0.3s ease-in-out; 
        height: 100%;
    }
}


.fa-bars,
.fa-times {
    font-size: 3rem;
    transition: 0.3s ease-in-out;
    color: $secondary-color;
    top: 0;
}

.fa-bars:hover,
.fa-bars:focus,
.fa-times:hover,
.fa-times:focus {
    color: $accent-color;
}

.fa-times {
    display: none;
}

.menu-btn {
    display: none;
    position: fixed;
    right: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transform: all 0.3s ease-in-out;
    z-index: 2;  
}


@media (max-width: 768px) {

    header {

        .menu-btn {
            display: flex;
            top: 8px;
            right: 6.5%;
            position: fixed;
        }
    
        .navBar {
            position: absolute;
            top: 50px;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            font-size: 4rem;
            height: 100vh;
            width: 85vw;
            background-color: $secondary-color;   
    
            &.open {
                display: flex;
                flex-direction: column;
                justify-content: center;   
            }
        }

        nav ul li {
            padding-left: 0;
            padding-bottom: 60px;

            a {
                font-size: 3rem;
            }
        }       
    }
}

@media (max-width: 480px) {

    header {

         .logo {
            padding-left: 7.5%;
        }

        .navBar {
            width: 100%;
        }
        
    }
}