.heroText {
        padding-top: 0;
        background-image: url('https://i.imgur.com/I7AxxGa.jpg');  
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        padding-top: 50px;
        animation: fadein 4s;
        position: relative;

        @keyframes fadein {
            from {opacity: 0;}
            top {opacity: 1};
        }

    .sidebarLinks {
        width: 7.5%;
        position: fixed;
        right: -10px;
        bottom: 40%;

        :focus {
            outline: none;
        }
        
        i {
            font-size: 2rem;
            padding: 5px;
            margin-bottom: 10px;
            color: $secondary-color;
            transition: 0.3s ease-in-out;
        }

        :hover i,
        :focus i {
            color: $accent-color;         
        }
    }

    h1 {
        font-size: 8rem;
        padding-top: 10%;
        text-shadow: 3px -2px 0 $accent-color;
    }

    h2 {
        opacity: 0.7;
        text-shadow: none;
    }

    h1,
    h2 {
        font-family: $heading-font;
        text-align: center;
        color: black;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        line-height: 1.25;
        font-weight: lighter;
        transition: 3s ease-in;
        animation: fadein 3s;
        -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 4s; /* Firefox < 16 */
            -ms-animation: fadein 4s; /* Internet Explorer */
            -o-animation: fadein 4s; /* Opera < 12.1 */

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    }

    .arrow {
        text-align: center;
        
    }

    .fa-chevron-down {
        font-size: 3rem;
        position: absolute;
        bottom: 10%;
        right: 48.5%;
        text-shadow: 0px -12px 0 $accent-color;
        transition: 0.4s;
    }

    .fa-chevron-down:hover,
    .fa-chevron-down:focus {
        opacity: 0.5;
    }
};

   

@media (max-width: 1055px) {

    .heroText {
        
        h1 {
            font-size: 7rem;
        }
      
    }
}

@media (max-width: 768px) {
     .heroText {
         height: 100vh;

         .sidebarLinks {
             display: none;
         }
    }
}

@media (max-width: 480px) {
    .heroText {
        h1 {
            padding-top: 20%;
            font-size: 5.8rem;
            }
    
        h2 {
            font-size: 2.8rem;
        }

        .fa-chevron-down {
            right: 46.5%;
        }
    }
}

