.skills {
    padding: 120px 0;
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 0%, #a8f0f8 100%);
    position: relative;

    

    .skillsIcons ul {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        li {
            padding: 50px;
        }

        li:hover i,
        li:focus i {
            color: $accent-color;
        }

        img {
            width: 80px;
            margin: 0 auto;
        }

    }

    i {
        font-size: 6vw;
        transition: 0.5s ease-in-out;
    }

    p {
        font-size: 2rem;
        padding-top: 10px;
    }
}
