.skills {
    padding: 60px 0 60px 0;
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 0%, #a8f0f8 100%);
    position: relative;

    .skillsIcons {
        opacity: 0;
    }

    .skillsIcons ul {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li {
            width: calc(20% - 30px);
            padding-bottom: 50px;
        }

        li:hover i,
        li:focus i {
            color: $accent-color;
        }

        img {
            width: 80px;
            margin: 0 auto;
        }
    }

    i {
        font-size: 6rem;
        transition: 0.5s ease-in-out;
    }

    p {
        font-size: 2rem;
        padding-top: 10px;
    }

    @keyframes anim1 {
        from {
            transform: translateY(-120px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media (max-width: 1060px) {
    .skills {
        .skillsIcons ul {
            
            li {
                width: calc(25% - 30px);
            }  
        }
        
        p {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 768px) {
    .skills {
        .skillsIcons ul {
            
            li {
                width: 33%;
            }
        }

        p {
            font-size: 1.6rem;
        }

        i {
            font-size: 7rem;
        }
    }
}

@media (max-width: 480px) {
    .skills {
        i {
            font-size: 6rem;
        }

        h2 {
            font-size: 5rem;
        }
    }
}


