html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
div,
section,
img,
header,
footer,
aside {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 8rem;
}

h1,
h2 {
  color: black;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: 1.25;
  padding-left: 10px;
  font-weight: lighter;
  font-family: "Concert One", cursive;
  -webkit-transition: 3s ease-in;
  transition: 3s ease-in;
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: -3px -3px 0px #e73058;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Muli", sans-serif, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  width: 85%;
}

.uppercase {
  text-transform: uppercase;
}

.arrow {
  text-align: center;
  margin: 0 auto;
}

.fa-chevron-down {
  font-size: 3rem;
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  text-shadow: 0px -12px 0 #e73058;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fa-chevron-down:hover,
.fa-chevron-down:focus {
  opacity: 0.5;
}

header nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 1;
}

header nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 10px 0;
}

header nav .wrapper a {
  padding-bottom: 10px;
}

header nav a {
  font-size: 3rem;
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav a:hover,
header nav a:focus {
  color: #e73058;
  text-shadow: 2px 2px 0px black;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  padding: 10px 0 15px 30px;
}

header nav ul li a {
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav ul li a:hover,
header nav ul li a:focus {
  padding-bottom: 10px;
  color: #e73058;
  border-bottom: 2px solid #e73058;
}

header .headerText {
  background-image: url("https://i.imgur.com/gsEnpGn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  top {
    opacity: 1;
  }
}

header h1,
header h2 {
  text-align: center;
  padding-top: 10%;
}

header h2 {
  padding-top: 0;
  text-shadow: none;
  opacity: 0.7;
}

header .fa-chevron-down {
  position: absolute;
  bottom: 10%;
}

.aboutMe {
  height: 100vh;
  padding-top: 10vh;
  position: relative;
}

.aboutMe .aboutMeInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe .aboutMeInfo .aboutMeImage {
  width: 40%;
}

.aboutMe .aboutMeInfo .aboutMeText {
  width: 60%;
}

.aboutMe .aboutMeInfo .aboutMeText p {
  font-size: 2rem;
  margin-bottom: 20px;
}

.aboutMe .aboutMeInfo .aboutMeText p a {
  font-weight: 600;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.aboutMe .aboutMeInfo .aboutMeText p a:focus,
.aboutMe .aboutMeInfo .aboutMeText p a:hover {
  color: #e73058;
}

.aboutMe .aboutMeImage img {
  border-radius: 100%;
  width: 400px;
  height: 420px;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: inset 0 0 0 5px #e73058, 0 0 0 6px #6ECFD9;
          box-shadow: inset 0 0 0 5px #e73058, 0 0 0 6px #6ECFD9;
}

.aboutMe .fa-chevron-down {
  position: absolute;
  bottom: 10%;
}

.skills {
  height: 100vh;
  padding-top: 10vh;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#6ecfd9));
  background-image: linear-gradient(180deg, #ffffff 0%, #6ecfd9 100%);
  position: relative;
}

.skills .skillsIcons ul {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.skills .skillsIcons ul li {
  padding: 50px;
}

.skills .skillsIcons ul li:hover i,
.skills .skillsIcons ul li:focus i {
  color: #e73058;
}

.skills i {
  font-size: 5vw;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.skills p {
  font-size: 2rem;
  padding-top: 10px;
}

.skills .fa-chevron-down {
  font-size: 3rem;
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  text-shadow: 0px -12px 0 #e73058;
}

.latestWork {
  padding-top: 10vh;
  background-color: #6ecfd9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6ecfd9), color-stop(33%, #ffffff), color-stop(66%, #6ecfd9), to(#ffffff));
  background-image: linear-gradient(180deg, #6ecfd9 0%, #ffffff 33%, #6ecfd9 66%, #ffffff 100%);
  position: relative;
}

.latestWork img {
  background: none;
}

.latestWork .projectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latestWork .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 80px 0;
}

.latestWork .projectImageContainer {
  width: calc(50% - 20px);
  margin: 0 20px;
}

.latestWork .projectInfo {
  width: 60%;
  padding: 0 80px;
}

.latestWork .projectInfo h3 {
  font-size: 4rem;
}

.latestWork .projectInfo .projectClassification {
  font-size: 2.2rem;
  padding: 0 0 30px 0;
}

.latestWork .projectInfo p {
  font-size: 1.6rem;
}

.latestWork .projectInfo :nth-child(3) {
  padding-bottom: 30px;
}

.latestWork .projectLinks {
  margin: 30px 0;
}

.latestWork .projectLinks a {
  font-size: 1.5rem;
  color: #e73058;
  padding: 5px 30px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 2px solid #6ECFD9;
  margin-right: 20px;
}

.latestWork .projectLinks a:hover,
.latestWork .projectLinks a:focus {
  color: white;
  background-color: #e73058;
  border: 2px solid #e73058;
}

.latestWork .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.latestWork .reverse .projectInfo {
  text-align: right;
}

.latestWork .reverse .projectInfo .projectLinks a {
  margin: 0 0 0 20px;
}

.formWrapper {
  margin: 0 auto;
  width: 60%;
}

.contactMe {
  border: 2px solid #e73058;
  margin-top: 100px;
}

.contactMe .formInnerWrapper {
  margin: 0 auto;
  width: 80%;
}

.contactMe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0 auto;
}

.contactMe form .formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactMe form .formFlex input {
  width: calc(50% - 10px);
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #6ECFD9;
  font-size: 2rem;
}

.contactMe form .formFlex input[type=text] {
  margin-right: 20px;
}

.contactMe form .textArea textArea {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 2px solid #6ECFD9;
  font-size: 1.8rem;
  padding: 10px;
}

.contactMe form .formSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

.contactMe form .formSubmit input {
  font-size: 2rem;
  color: #e73058;
  padding: 5px 30px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 2px solid #6ECFD9;
  margin-right: 20px;
  background: none;
}

.contactMe form .formSubmit input:hover,
.contactMe form .formSubmit input:focus {
  color: white;
  background-color: #e73058;
  border: 2px solid #e73058;
  cursor: pointer;
}

.contactMe .emailDirect {
  padding: 20px 0;
  text-align: center;
  font-size: 1.8rem;
}

.contactMe .emailDirect a {
  color: #e73058;
  text-decoration: underline;
}

footer {
  margin: 0 auto;
}

footer p {
  text-align: center;
  font-size: 2rem;
}

footer .footerSocialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
}

footer .footerSocialIcons ul li {
  padding: 20px 20px 10px 20px;
}

footer .footerSocialIcons ul li a {
  color: #6ECFD9;
}
