html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
div,
section,
img,
header,
footer,
aside {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Muli", sans-serif, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1350px;
  width: 85%;
}

.uppercase {
  text-transform: uppercase;
}

.arrow {
  text-align: center;
  margin: 0 auto;
}

.fa-chevron-down {
  font-size: 3rem;
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  text-shadow: 0px -12px 0 #e73058;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fa-chevron-down:hover,
.fa-chevron-down:focus {
  opacity: 0.5;
}

.anim,
.scrollLeft,
.scrollRight {
  opacity: 0;
}

h2 {
  font-family: "Concert One", sans-serif;
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: -3px -3px 0px #e73058;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
}

header nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1;
}

header nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 10px 0;
}

header nav a {
  font-size: 3rem;
  font-family: "Concert One", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav a:hover,
header nav a:focus {
  color: #e73058;
  text-shadow: 2px 2px 0px black;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding-left: 30px;
}

header nav ul li a {
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav ul li a:hover,
header nav ul li a:focus {
  padding-bottom: 10px;
  color: #e73058;
}

header .navBar {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header h1 {
  font-size: 8rem;
  padding-top: 10%;
}

header h2 {
  opacity: 0.7;
  text-shadow: none;
}

header h1,
header h2 {
  text-align: center;
  color: black;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: 1.25;
  padding-left: 10px;
  font-weight: lighter;
  font-family: "Concert One", sans-serif;
  -webkit-transition: 3s ease-in;
  transition: 3s ease-in;
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .headerText {
  background-image: url("https://i.imgur.com/gsEnpGn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  position: relative;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  top {
    opacity: 1;
  }
}

header .fa-chevron-down {
  position: absolute;
  bottom: 10%;
}

header .sidebarLinks {
  width: 7.5%;
  font-size: 3rem;
  position: fixed;
  right: -10px;
  bottom: 40%;
}

header .sidebarLinks li i {
  font-size: 2rem;
  padding: 5px;
  margin-bottom: 10px;
  color: #6ECFD9;
}

header .sidebarLinks li i:hover,
header .sidebarLinks li i:focus {
  color: #e73058;
}

.fa-bars,
.fa-times {
  font-size: 3rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #6ECFD9;
}

.fa-bars:hover,
.fa-bars:focus,
.fa-times:hover,
.fa-times:focus {
  color: #e73058;
}

.fa-times {
  display: none;
}

.menu-btn {
  display: none;
  position: fixed;
  top: 5px;
  right: 0;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  -webkit-transform: all 0.3s ease-in-out;
          transform: all 0.3s ease-in-out;
  z-index: 2;
}

@media (max-width: 1055px) {
  header h1 {
    font-size: 6rem;
  }
  header h2 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  header .headerText {
    background-image: url("./../assets/header-image-gradiant.jpg");
  }
  header .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navBar {
    position: absolute;
    top: 50px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 4rem;
    height: 50vh;
    width: 85vw;
    background-color: #6ECFD9;
  }
  header .navBar.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul li {
    padding-left: 0;
  }
  header nav ul li a {
    font-size: 3rem;
  }
  header .sidebarLinks {
    display: none;
  }
  header h2 {
    padding-bottom: 50px;
  }
  header .menu-btn {
    top: 8px;
    right: 7.5%;
  }
}

@media (max-width: 480px) {
  header .logo {
    padding-left: 7.5%;
  }
  header h1 {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 4rem;
  }
  header h2 {
    font-size: 2.8rem;
  }
  header .navBar {
    width: 100%;
  }
}

.aboutMe {
  padding-bottom: 40px;
}

.aboutMe .aboutMeInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe .aboutMeInfo .aboutMeImage {
  margin-top: 60px;
  width: 40%;
}

.aboutMe .aboutMeInfo .aboutMeText {
  width: 50%;
}

.aboutMe .aboutMeInfo .aboutMeText p {
  font-size: 2rem;
  margin-bottom: 20px;
}

.aboutMe .aboutMeInfo .aboutMeText p a {
  font-weight: 600;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  text-decoration: underline;
}

.aboutMe .aboutMeInfo .aboutMeText p a:focus,
.aboutMe .aboutMeInfo .aboutMeText p a:hover {
  color: #e73058;
}

.aboutMe .aboutMeImage img {
  border-radius: 100%;
  width: 400px;
  height: 420px;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: inset 0 0 0 5px #e73058, 0 0 0 6px #6ECFD9;
          box-shadow: inset 0 0 0 5px #e73058, 0 0 0 6px #6ECFD9;
}

.aboutMe .mobileAboutLinks {
  display: none;
}

@media (max-width: 1050px) {
  .aboutMe .aboutMeInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMe .aboutMeInfo .aboutMeImage,
  .aboutMe .aboutMeInfo .aboutMeText {
    width: 80%;
  }
  .aboutMe .aboutMeInfo .aboutMeImage img {
    margin: 0 auto;
    width: 300px;
    height: 315px;
  }
}

@media (max-width: 768px) {
  .aboutMe .aboutMeInfo .aboutMeText p {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .aboutMe .aboutMeInfo .aboutMeImage img {
    width: 250px;
    height: 263px;
  }
  .aboutMe h2 {
    font-size: 5rem;
    padding-top: 20px;
  }
}

.skills {
  padding: 60px 0 60px 0;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#a8f0f8));
  background-image: linear-gradient(180deg, #ffffff 0%, #a8f0f8 100%);
  position: relative;
}

.skills .skillsIcons {
  opacity: 0;
}

.skills .skillsIcons ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skillsIcons ul li {
  width: calc(20% - 30px);
  padding-bottom: 50px;
}

.skills .skillsIcons ul li:hover i,
.skills .skillsIcons ul li:focus i {
  color: #e73058;
}

.skills .skillsIcons ul img {
  width: 80px;
  margin: 0 auto;
}

.skills i {
  font-size: 6rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.skills p {
  font-size: 2rem;
  padding-top: 10px;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1060px) {
  .skills .skillsIcons ul li {
    width: calc(25% - 30px);
  }
  .skills p {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .skills .skillsIcons ul li {
    width: 33%;
  }
  .skills p {
    font-size: 1.6rem;
  }
  .skills i {
    font-size: 7rem;
  }
}

@media (max-width: 480px) {
  .skills i {
    font-size: 6rem;
  }
  .skills h2 {
    font-size: 5rem;
  }
}

.latestWork {
  padding-top: 40px;
  background-color: #6ecfd9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a8f0f8), color-stop(33%, #ffffff), color-stop(66%, #a8f0f8), to(#ffffff));
  background-image: linear-gradient(180deg, #a8f0f8 0%, #ffffff 33%, #a8f0f8 66%, #ffffff 100%);
  position: relative;
}

.latestWork img {
  background: none;
  opacity: 0;
  min-width: 350px;
}

.latestWork .projectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latestWork .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 80px 0;
}

.latestWork .projectImageContainer {
  width: calc(50% - 10px);
  margin: 0 20px;
}

.latestWork .projectInfo {
  width: calc(60% - 10px);
  padding: 0 20px;
}

.latestWork .projectInfo h3 {
  font-size: 4rem;
}

.latestWork .projectInfo .projectClassification {
  font-size: 2.2rem;
  padding: 0 0 30px 0;
}

.latestWork .projectInfo p {
  font-size: 1.6rem;
}

.latestWork .projectInfo :nth-child(3) {
  padding-bottom: 30px;
}

.latestWork .projectInfo li {
  padding: 0 20px;
  font-size: 1.6rem;
  font-weight: bold;
}

.latestWork .projectInfo .listNormal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latestWork .projectInfo .listNormal .firstListItem {
  padding-left: 0;
}

.latestWork .projectInfo .listReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.latestWork .projectInfo .listReverse .lastListItem {
  padding-right: 0;
}

.latestWork .projectLinks {
  margin: 30px 0;
}

.latestWork .projectLinks a {
  font-size: 1.5rem;
  color: #e73058;
  padding: 5px 30px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 2px solid #6ECFD9;
  margin-right: 20px;
}

.latestWork .projectLinks a:hover,
.latestWork .projectLinks a:focus {
  color: white;
  background-color: #e73058;
  border: 2px solid #e73058;
}

.latestWork .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.latestWork .reverse .projectInfo {
  text-align: right;
}

.latestWork .reverse .projectInfo .projectLinks a {
  margin: 0 0 0 20px;
}

@-webkit-keyframes anim2 {
  from {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim2 {
  from {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes anim3 {
  from {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim3 {
  from {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1050px) {
  .latestWork .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0;
  }
  .latestWork .projectImageContainer {
    width: 70%;
    margin: 0 auto;
  }
  .latestWork img {
    min-width: 400px;
    padding-bottom: 30px;
  }
  .latestWork .projectInfo {
    width: 80%;
  }
  .latestWork .projectInfo h3 {
    text-align: center;
  }
  .latestWork .projectInfo .projectClassification {
    text-align: center;
  }
  .latestWork .projectInfo :nth-child(3) {
    text-align: center;
  }
  .latestWork .projectInfo li {
    margin: 0 auto;
    padding: 0px;
  }
  .latestWork .projectInfo .listNormal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latestWork .projectInfo .listNormal .firstListItem {
    padding-left: 0;
  }
  .latestWork .listReverse {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
  .latestWork .listReverse .lastListItem {
    padding-right: 0;
  }
  .latestWork .projectLinks {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .latestWork .projectImageContainer {
    width: 90%;
    margin: 0 auto;
  }
  .latestWork img {
    min-width: 300px;
  }
  .latestWork .projectLinks {
    margin: 0 auto;
    text-align: center;
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .latestWork .projectLinks a {
    margin: 0 0 8px 0;
  }
  .latestWork .reverse .projectInfo .projectLinks a {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 550px) {
  .latestWork .projectInfo {
    width: 100%;
  }
  .latestWork .projectInfo .listNormal,
  .latestWork .projectInfo .listReverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latestWork .projectInfo .listNormal li,
  .latestWork .projectInfo .listReverse li {
    margin: 0 auto;
    padding: 5px 0;
  }
}

@media (max-width: 480px) {
  .latestWork h2 {
    font-size: 5rem;
  }
  .latestWork .projectImageContainer {
    width: 95%;
    margin: 0 auto;
  }
  .latestWork img {
    min-width: 200px;
  }
  .latestWork .projectImageContainer {
    min-width: 10px;
  }
}

.formWrapper {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 60%;
  padding-top: 30px;
}

.contactMe {
  border: 2px solid #e73058;
  margin-top: 100px;
}

.contactMe .formInnerWrapper {
  margin: 0 auto;
  width: 80%;
}

.contactMe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0 auto;
}

.contactMe form .formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactMe form .formFlex input {
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #6ECFD9;
  font-size: 2rem;
}

.contactMe form .formFlex input[type=text] {
  margin-right: 20px;
}

.contactMe form .formFlex Input:focus {
  border-bottom: 2px solid #e73058;
}

.contactMe form .contactName,
.contactMe form .contactEmail {
  width: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactMe form .contactName label,
.contactMe form .contactEmail label {
  font-size: 1.5rem;
  color: #e73058;
}

.contactMe form .textArea label {
  font-size: 1.5rem;
  color: #e73058;
}

.contactMe form .textArea textArea {
  display: block;
  margin: 10px auto;
  width: 100%;
  border: 2px solid #6ECFD9;
  font-size: 1.8rem;
  padding: 10px;
}

.contactMe form .textArea textArea:focus {
  border: 2px solid #e73058;
}

.contactMe form .formSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

.contactMe form .formSubmit input {
  font-size: 2rem;
  color: #e73058;
  padding: 5px 30px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 2px solid #6ECFD9;
  margin-right: 20px;
  background: none;
}

.contactMe form .formSubmit input:hover,
.contactMe form .formSubmit input:focus {
  color: white;
  background-color: #e73058;
  border: 2px solid #e73058;
  cursor: pointer;
}

.contactMe .emailDirect {
  padding: 20px 0 30px 0;
  text-align: center;
  font-size: 1.8rem;
}

.contactMe .emailDirect i {
  color: #e73058;
  font-size: 2rem;
}

.contactMe .emailDirect a {
  color: #e73058;
  text-decoration: underline;
}

@media (max-width: 1050px) {
  .formWrapper {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .formWrapper {
    width: 80%;
  }
  .contactMe .formInnerWrapper {
    width: 90%;
  }
  .contactMe form .formFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contactMe form .formFlex input {
    font-size: 1.6rem;
  }
  .contactMe form .contactName,
  .contactMe form .contactEmail {
    width: 80%;
  }
  .contactMe form .textArea textarea {
    font-size: 1.6rem;
  }
  .contactMe form .formSubmit input {
    font-size: 1.6rem;
  }
}

footer {
  margin: 0 auto;
}

footer p {
  text-align: center;
  font-size: 2rem;
}

footer .footerSocialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
}

footer .footerSocialIcons ul li {
  padding: 20px;
}

footer .footerSocialIcons ul li a {
  color: #6ECFD9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footerSocialIcons ul li a:hover,
footer .footerSocialIcons ul li a:focus {
  color: #e73058;
}

@media (max-width: 480px) {
  footer .footerSocialIcons ul {
    font-size: 3.5rem;
  }
}
